################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ImageBox/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ImageBox/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ImageBox/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ImageBox/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ImageBox/obj/Debug/CoreCompileInputs.cache
/ImageBoxSample/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ImageBoxSample/obj/Debug/ImageBoxSample.Properties.Resources.resources
/ImageBoxSample/obj/Debug/ImageBoxSample.pdb
/ImageBoxSample/obj/Debug/ImageBoxSample.Form1.resources
/ImageBoxSample/obj/Debug/ImageBoxSample.exe
/ImageBoxSample/obj/Debug/ImageBoxSample.csprojResolveAssemblyReference.cache
/ImageBoxSample/obj/Debug/ImageBoxSample.csproj.GenerateResource.Cache
/ImageBoxSample/obj/Debug/ImageBoxSample.csproj.FileListAbsolute.txt
/ImageBoxSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ImageBoxSample/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ImageBoxSample/obj/Debug/CoreCompileInputs.cache
/ImageBoxSample/bin/Debug/ImageBoxSample.pdb
/ImageBoxSample/bin/Debug/ImageBoxSample.exe.config
/ImageBoxSample/bin/Debug/ImageBoxSample.exe
/ImageBoxSample/bin/Debug/ImageBox.pdb
/ImageBoxSample/bin/Debug/ImageBox.dll
/ImageBoxSample/.vs/ImageBoxSample/v15/.suo
/ImageBox/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ImageBox/obj/Debug/ImageBox.Properties.Resources.resources
/ImageBox/obj/Debug/ImageBox.pdb
/ImageBox/obj/Debug/ImageBox.ImageBoxWindow.resources
/ImageBox/obj/Debug/ImageBox.ImageBoxMiniMap.resources
/ImageBox/obj/Debug/ImageBox.ImageBox.resources
/ImageBox/obj/Debug/ImageBox.dll
/ImageBox/obj/Debug/ImageBox.csprojResolveAssemblyReference.cache
/ImageBox/obj/Debug/ImageBox.csproj.GenerateResource.Cache
/ImageBox/obj/Debug/ImageBox.csproj.FileListAbsolute.txt
/ImageBox/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ImageBox/bin/Debug/ImageBox.pdb
/ImageBox/bin/Debug/ImageBox.dll
/ImageBox/.vs/ImageBox/v15/.suo
/ImageBoxSample/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ImageBoxSample/obj/Debug/ImageBoxSample.Properties.Resources.resources
/ImageBoxSample/obj/Debug/ImageBoxSample.pdb
/ImageBoxSample/obj/Debug/ImageBoxSample.Form1.resources
/ImageBoxSample/obj/Debug/ImageBoxSample.exe
/ImageBoxSample/obj/Debug/ImageBoxSample.csprojResolveAssemblyReference.cache
/ImageBoxSample/obj/Debug/ImageBoxSample.csproj.GenerateResource.Cache
/ImageBoxSample/obj/Debug/ImageBoxSample.csproj.FileListAbsolute.txt
/ImageBoxSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ImageBoxSample/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ImageBoxSample/obj/Debug/CoreCompileInputs.cache
/ImageBoxSample/bin/Debug/ImageBoxSample.pdb
/ImageBoxSample/bin/Debug/ImageBoxSample.exe.config
/ImageBoxSample/bin/Debug/ImageBoxSample.exe
/ImageBoxSample/bin/Debug/ImageBox.pdb
/ImageBoxSample/bin/Debug/ImageBox.dll
/ImageBoxSample/.vs/ImageBoxSample/v15/.suo
/ImageBox/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ImageBox/obj/Debug/ImageBox.Properties.Resources.resources
/ImageBox/obj/Debug/ImageBox.pdb
/ImageBox/obj/Debug/ImageBox.ImageBoxWindow.resources
/ImageBox/obj/Debug/ImageBox.ImageBoxMiniMap.resources
/ImageBox/obj/Debug/ImageBox.ImageBox.resources
/ImageBox/obj/Debug/ImageBox.dll
/ImageBox/obj/Debug/ImageBox.csprojResolveAssemblyReference.cache
/ImageBox/obj/Debug/ImageBox.csproj.GenerateResource.Cache
/ImageBox/obj/Debug/ImageBox.csproj.FileListAbsolute.txt
/ImageBox/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ImageBox/bin/Debug/ImageBox.pdb
/ImageBox/bin/Debug/ImageBox.dll
/ImageBox/.vs/ImageBox/v15/.suo
/ImageBox/.vs/ImageBoxSample/v15/.suo
/ImageBox/ImageBoxSample/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ImageBox/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ImageBox/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ImageBox/ImageBoxSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ImageBox/ImageBoxSample/obj/Debug/ImageBoxSample.Properties.Resources.resources
/ImageBox/ImageBoxSample/obj/Debug/ImageBoxSample.pdb
/ImageBox/ImageBoxSample/obj/Debug/ImageBoxSample.Form1.resources
/ImageBox/ImageBoxSample/obj/Debug/ImageBoxSample.exe
/ImageBox/ImageBoxSample/obj/Debug/ImageBoxSample.csprojResolveAssemblyReference.cache
/ImageBox/ImageBoxSample/obj/Debug/ImageBoxSample.csproj.GenerateResource.Cache
/ImageBox/ImageBoxSample/obj/Debug/ImageBoxSample.csproj.FileListAbsolute.txt
/ImageBox/ImageBoxSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ImageBox/ImageBoxSample/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ImageBox/ImageBoxSample/obj/Debug/CoreCompileInputs.cache
/ImageBox/ImageBoxSample/bin/Debug/ImageBoxSample.pdb
/ImageBox/ImageBoxSample/bin/Debug/ImageBoxSample.exe.config
/ImageBox/ImageBoxSample/bin/Debug/ImageBoxSample.exe
/ImageBox/ImageBoxSample/bin/Debug/ImageBox.pdb
/ImageBox/ImageBoxSample/bin/Debug/ImageBox.dll
/ImageBox/ImageBox/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/ImageBox/ImageBox/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ImageBox/ImageBox/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ImageBox/ImageBox/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ImageBox/ImageBox/obj/Debug/ImageBox.Properties.Resources.resources
/ImageBox/ImageBox/obj/Debug/ImageBox.pdb
/ImageBox/ImageBox/obj/Debug/ImageBox.ImageBoxWindow.resources
/ImageBox/ImageBox/obj/Debug/ImageBox.ImageBoxMiniMap.resources
/ImageBox/ImageBox/obj/Debug/ImageBox.ImageBox.resources
/ImageBox/ImageBox/obj/Debug/ImageBox.dll
/ImageBox/ImageBox/obj/Debug/ImageBox.csprojResolveAssemblyReference.cache
/ImageBox/ImageBox/obj/Debug/ImageBox.csproj.GenerateResource.Cache
/ImageBox/ImageBox/obj/Debug/ImageBox.csproj.FileListAbsolute.txt
/ImageBox/ImageBox/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ImageBox/ImageBox/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ImageBox/ImageBox/obj/Debug/CoreCompileInputs.cache
/ImageBox/ImageBox/bin/Debug/ImageBox.pdb
/ImageBox/ImageBox/bin/Debug/ImageBox.dll
