################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ImageBox/ImageBoxSample/obj/
/ImageBox/ImageBoxSample/bin/
/ImageBox/ImageBox/obj/
/ImageBox/ImageBox/bin/
/ImageBox/ImageBox/.vs/
